:root {
  --text-primary-red: #d30038;
  --text-primary-green: #007936;
  --text-primary-blue: #0069c2;
  --text-primary-yellow: #746a00;
  --text-primary-white: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}
.navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--text-primary-white);
}
.navbar ul li {
  margin-right: 10px;
}
.container {
  height: 60vh;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: start;
}
.item-container {
  border: 1px solid #000;
  background: var(--text-primary-blue);
  padding: 10px;

  flex-basis: calc(300px, 15%);
  gap: 15px;
}
